@media screen and (min-width: 320px) and (max-width:767px){ 
    .container {
      
    }
  
    section {
      padding-top: 96px;
      padding-bottom: 96px;
      justify-content: center;
    }
  
    .header-container{
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      height: 70px;
    }

    .header-list{
      display: none;
    }

    .address-list{
      display: none;
    }

    .header-menu-button{
      height: 32px;
      width: 32px;
      padding: 0;
      border: none;
      line-height: 0;
      margin-top: 24px;
      background-color: transparent;
    }

    .header-menu-icon {
      stroke: #2E2F42;
    }
    /* ----------------------MOB-MENU-------------------------- */
    .mob-menu {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      background-color: white;
      padding: 80px 35px 40px 40px;
      }
      
      .mob-menu.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .menu-close-button{
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        background-color: var(--border-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        fill: #2E2F42;
      }

    .mob-menu-list {
      display: block;
    }

    .mob-menu-list-item{
      margin-bottom: 40px;
      width: 100%;
    }

    .mob-menu-list-item:last-child{
      margin: 0;
  }

    .mob-menu-link{
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
    }

    .mob-menu-list-item{
      margin-bottom: 40px;
      width: 100%;
    }

    .mob-menu-list-item:last-child{
      margin: 0;
    }

    .mob-menu-address-main{
      display: block;
    }

    .mob-menu-address-list{
      display: block;
      margin-bottom: 48px;
    }

    .mob-menu-address-item{
      margin-bottom: 40px;
      width: 100%;
    }

    .mob-menu-address-item:last-child{
      margin: 0;
    }

    .mob-menu-adress-item-link-tel{
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #4D5AE5;
    }

    .mob-menu-adress-item-link-mail{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #434455;
    }

    .soc-mobile{
      gap: calc((100%)/8);
    }



    /* -------------------------Solutions-------------------------- */

      .solutions {
        padding-top: 112px;
        padding-bottom: 112px;
        text-align: center;
        max-width: 100%;
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/Dark-bgP.jpg);
        }
      
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),  
      screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
        .solutions {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/Dark-bgP2X.jpg);
        }
      }

      .solutions-title{
        font-size: 36px;
        line-height: 1.07;
        margin-bottom: 72px;
      }



/* ----------------------SOLUTIONS-ROW--------------------------- */
    .container{
      width: 320px;
    }
    .solutions-row-item {
        margin-bottom: 72px;
    }

    .solutions-row-item:not(:first-child){
        margin-left: 0;
    }

     .solutions-row-item:last-child{
      margin-bottom: 0;
     }

    .solutions-row-icon-item{
        display: none;
    }

    .solutions-row-name{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
    }

    .solutions-row-descr{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        width: 264px;
    }
/*------------------------------- doing-----------------------------*/
    .doing{
        display: none;
    }

    .container-team{
      width: 428px;
    }

    .team-list{
      /* margin: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 72px;
      width: 264px; */

      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 64px;
    }

    .team-item{
      width: 264px;
    }
  
    .customers-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 72px;
      
    }
  
    .customers-item {
     
    }

  /* -----------------------------footer--------------------------- */
    .footer{
      
    }
    .container-footer{
      display: flex;
      flex-direction: column;
      gap: 72px;
    }

    .footer-content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin-left: 0;
    }

    .footer-name{
      margin-bottom: 0;
    }
    
    .footer-descr{
      width: 268px;
    }

    .footer-form-subsc{
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 16px;
    }

    .footer-form-subsc {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 24px;
    }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
  }
}
/* -------------------Tablet---------------------------- */

  @media screen and (min-width: 768px) and (max-width:1157px){

    .container {
     
    }
    section {
      padding-top: 96px;
      padding-bottom: 96px;
    }

    .header{
      justify-content: center;
    }

    .header-container{
      width: 768px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-list{
      

    }
    .nav-list{
      display: flex;
    }
   

    .address-list{
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .header-menu-button{
      display: none;
    }

    .mob-menu{
      display: none;
    }

        /* -------------------------Solutions-------------------------- */
        .solutions {
          max-width: 100%;
          padding-top:112px; 
          padding-bottom:112px; 
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/Dark-bgT.jpg);
        }
      
      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width:1157px), 
      screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width:1157px), 
      screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width:1157px) {
        .solutions {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/Dark-bgT2X.jpg);
        }
      }

      .solutions-title{
        margin-bottom: 36px;
      }

    .solutions-row-list{
      column-gap: 24px;
      row-gap: 72px;
      flex-direction: row;
      flex-wrap: wrap;
}

    .solutions-row-item:not(:first-child) {
      margin-left: 0;
    }

    .solutions-row-item {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    .solutions-row-name {
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: .02em;
      color: #2e2f42;
      text-transform: capitalize;
      text-align: start;
    }

    .solutions-row-descr{
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: .02em;
      color: #434455;
      max-width: 356px;
    }

    .solutions-row-icon-item{
      display: none;
    }

    .solutions-row-descr{
        width: 100%;
    }

    .doing{
        display: none;
    }

    .container-team{
      width: 768px;
    }

    .team-list{
      /* width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;

      width: calc((100% - 24px) / 2); */
      width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
    }

    .team-item{
      width: calc((100%) / 3);
    }
  
    .team-soc-list {
      gap: calc((100%-30px)/14);
    }
  
    .customers-list {
      gap: 24px;
    }
  
    .customers-item {
      width: calc((100%)/4);
      margin-bottom: 72px;
    }

    .footer{
      
    }
    .container-footer{
      flex-direction: row;
      flex-wrap: wrap;
      width: 582px;
    }

    .footer-content{
      flex-direction: row;
      gap: 24px;
    }

    .footer-icon{
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .footer-name{
      margin-bottom: 0;
    }

    .footer-descr{
      width: 268px;
    }

    .footer-form-subsc{
      margin-top: 72px;
      align-items: start;
      margin-left: 0;
    }

    .footer-subscribe {
      flex-direction: row;
      align-items: start;
    }
  }
  

  /* ----------------------------Desktop------------------------- */
  @media screen and (min-width: 1158px) { 

    section {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .container {
      width: 1158px;
    }
  
    .header-menu-button{
      display: none;
    }

    .mob-menu{
      display: none;
    }

.team-list{}

    .team-item{
      width: calc((100% - 72px) / 4);
    }
  
    .customers-item {
      width: calc((100%-90px)/7);
    }
  }
